* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  transition: all .3s;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #FDFDFD;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-size: 30px;
  color: #333333;
}

.header nav {
  background-color: #FFD700;
  position: relative;
  width: 515px;
  height: 50px;
  border-radius: 8px;
  font-size: 0;
}

.header nav a {
  display: inline-block;
  font-size: 15px;
  color: #fff;
  position: relative;
  line-height: 50px;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

.header nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  border-radius: 8px;
  transition: all .5s ease;
}

a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 100px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 100px;
}
a:nth-child(5) {
  width: 115px;
}

nav .home, a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: #808080;
}

a:nth-child(2):hover ~ .animation {
  width: 100px;
  left: 100px;
  background-color: #808080;
}

a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 200px;
  background-color: #808080;
}

a:nth-child(4):hover ~ .animation {
  width: 100px;
  left: 300px;
  background-color: #808080;
}

a:nth-child(5):hover ~ .animation {
  width: 100px;
  left: 415px;
  background-color: #808080;
}
